[submodule "open_zeppelin"]
	path = apps/starknet/lib/open_zeppelin
	url = https://github.com/OpenZeppelin/cairo-contracts
[submodule "cairo_contracts"]
	path = apps/starknet/lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts
